h1 {
    color:white;

  }
  *{
      border:solid;
  }
  .header{
      background-color: black;
  }
  .css{
      color: white;
  }

  .grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

